[Unit]
Description=stats3
After=network.target

[Service]
ExecStart=/usr/bin/bash /usr/bin/dns-sinkhole-ap
WorkingDirectory=/usr/share/dns-sinkhole-ap
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
